.arrow_box
  position: relative
  background: #26272b

.arrow_box:after
  top: 100%
  left: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-color: rgba(38, 39, 43, 0)
  border-top-color: #26272b
  border-width: 15px
  margin-left: -15px
